.container {
  margin: 50px auto;
  width: 500px;
  background-color: rgba(89, 252, 164, 1);
  background-image: linear-gradient(
    149deg,
    rgba(89, 252, 164, 1) 0%,
    rgba(41, 83, 86, 1) 100%
  );
  padding: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.heading {
  color: white;
  margin: 0;
}
